<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Clinic</title>
  </head>
  <body>
    <div class="container-header">
      <div class="contaienr-healtly">
        <div class="healtly">be</div>
        <h1>healthy</h1>
      </div>
    </div>
    <div class="header">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Doctors</a></li>
          <li><a href="#">Contact us</a></li>
          <li>
            <a href="#" class="active"
              >Buy Now<i class="fas fa-arrow-right"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <main>
      <section class="banner">
        <div class="container-parrafos">
          <p class="welcome">Welcome on our Clinic site</p>
          <h2>Make an appointment</h2>
          <div class="parrafo">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto fuga quibusdam ipsum dicta eaque maiores tempora unde
              ullam dolores sed.
            </p>
          </div>
          <div class="info">
            <a href="#">Contact us</a>
            <a href="#">Read more</a>
          </div>
        </div>
        <img src="../img/img3.svg" alt="" />
      </section>

      <section class="container-acceso">
        <div class="container-subacceso">
          <div class="container-subaccess">
            <div class="acceso">
              <i class="fas fa-clipboard"></i>
              <h3>Online appointment</h3>
              <p class="appoin">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam, provident.
              </p>
              <a href="#" class="makes">Make an appointment</a>
            </div>
          </div>

          <div class="container-subaccess">
            <div class="acceso">
              <i class="fas fa-ambulance"></i>
              <h3>Emergency case</h3>
              <p class="appoin">lorem ipsum dolor sit</p>
              <p class="appoin ment">+ 51 <span>11-12-3-54-4</span></p>
              <a href="#" class="makes">Contact us</a>
            </div>
          </div>

          <div class="container-subaccess">
            <div class="acceso">
              <i class="fas fa-user-md"></i>
              <h3>Our Doctors</h3>
              <p class="appoin">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam, provident.
              </p>
              <a href="#" class="makes">Doctors</a>
            </div>
          </div>
        </div>
      </section>

      <section class="work">
        <div class="container-image">
          <img src="../img/foto.jpg" alt="" />
        </div>
        <div class="container-work">
          <h4>
            Meet <br />
            our Clinic
          </h4>
          <p class="aboutus">
            Lorem ipsum dolor, sit amet csdsdaaaetg gtet teg egtg tg etg ing
            elit. Repudiandae placeat iste porro. Eius, quis consectetur.
          </p>
          <a href="#" class="meet">About us</a>
        </div>
      </section>

      <section class="container__doctor">
        <h4 class="doc">Doctors</h4>
        <div class="container-doctors">
          <div class="container-items">
            <div class="img">
              <img src="../img/doctor1.jpg" alt="" />
              <h5>Jeniffer Wilson</h5>
              <p class="especiality">Pediatry Doctor</p>
              <p class="par">Lorem ipsum dolor sit amet consectetur.</p>
              <div class="icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>

          <div class="container-items">
            <div class="img">
              <img src="../img/doctor2.jpg" alt="" />
              <h5>Jeniffer Wilson</h5>
              <p class="especiality">Pediatry Doctor</p>
              <p class="par">Lorem ipsum dolor sit amet consectetur.</p>
              <div class="icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>

          <div class="container-items">
            <div class="img">
              <img src="../img/doctor3.jpg" alt="" />
              <h5>Jeniffer Wilson</h5>
              <p class="especiality">Pediatry Doctor</p>
              <p class="par">Lorem ipsum dolor sit amet consectetur.</p>
              <div class="icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container-services">
        <div class="container-service">
            <div class="container-sub-service">
              <h5>Our<br/>features services</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br/> Eaque consectetur corporis quisquam! Sed, quod recusandae?</p>
              <a href="#">our services</a>
            </div>
            <div class="container-icons-services">
              <div>
                <i class="fas fa-heartbeat"></i>
                <h6>Cardiology</h6>
              </div>

              <div>
                <i class="fas fa-x-ray"></i>
                <h6>X-ray</h6>
              </div>

              <div>
                <i class="fas fa-baby"></i>
                <h6>Pedriaty</h6>
              </div>

              <div>
               <i class="fas fa-tooth"></i>
                <h6>Pedriaty</h6>
              </div>
            </div>
        </div>
      </section>

















    </main>
  </body>
</html>
